<footer class="container-fluid px-2 px-md-5">
    <div class="row text-light pt-4 pb-2 px-1 px-md-5">
        <div class="col-6 text-start ps-2 ps-md-5">
            <p class="footer-text">Creado por José Latapiatt para Desafío Latam - 2024</p>
        </div>
        <div class="col-6 text-end mt-2 pe-2 pe-md-5">
            <a href="https://www.github.com/Hl4t4"><i class="fa-brands fa-square-github fa-2xl text-light align-top"></i></a>
            <a href="https://www.linkedin.com/jose-latapiatt"><i class="fa-brands fa-linkedin fa-2xl ps-1 text-light align-top"></i></a>
            <a href="https://www.twitter.com"><i class="fa-brands fa-square-twitter fa-2xl ps-1 text-light align-top"></i></a>
            <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook fa-2xl ps-1 text-light align-top"></i></a>
        </div>
    </div>
</footer>