<nav class="container-fluid navbar navbar-dark navbar-expand-lg">
    <div class="container-fluid px-md-5">
        <a class="navbar-brand nav-brand-text text-light ps-md-5" href="/">
            OnlyFlans
        </a>
        <button class="navbar-toggler btn-outline-light" type="button" style="border-color: white;" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <!-- Es tanto el menu del navbar extenso como colapsado -->
        <div class="collapse navbar-collapse ps-3 pe-md-5" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-light" href="/">Inicio</a>
                {% if user.is_authenticated %}
                    <a class="nav-link text-light" href="/bienvenido">Bienvenido</a>
                {% endif %}
                <a class="nav-link text-light" href="/acerca">Acerca</a>
                <a class="nav-link text-light" href="/contacto">Contacto</a>
                
                {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="mt-2">Cerrar sesion</button>
                </form>
                {% else %}
                    <a href="/accounts/login"><button type="submit" class="mt-2">Iniciar sesión</button></a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>