{% extends 'base.html' %}    
{%block content%}
<section class="container-fluid py-4">
    <div class="card card-custom-bg w-75 mx-auto">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <h1>Acerca de nosotros</h1>
                <hr style="width:50%; margin-left:auto; margin-right:auto;">
                <p>OnlyFlans es una empresa enfocada en el mundo de la
                    pastelería y los postres, en especial en la venta de flan(de ahí
                    su nombre), nace en 2024 en santiago de chile como una
                    empresa familiar que pretende entregar productos de calidad
                    a su clientela, estando ubicada en providencia, a pasos del
                  metro Parque Bustamante.</p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</section>
{% endblock content %}