<nav class="container-fluid navbar navbar-dark navbar-expand-lg">
    <div class="container-fluid px-md-5">
        <a class="navbar-brand nav-brand-text text-light ps-md-5" href="/">
            {% comment %} <img src="assets/img/viajes.svg" alt="Logo" width="30" height="24" class="d-inline-block"> {% endcomment %}
            OnlyFlans
        </a>
        <button class="navbar-toggler btn-outline-light" type="button" style="border-color: white;" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <!-- Es tanto el menu del navbar extenso como colapsado -->
        <div class="collapse navbar-collapse ps-3 pe-md-5" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-light" href="/">Inicio</a>
                <a class="nav-link text-light" href="/bienvenido">Bienvenido</a>
                <a class="nav-link text-light" href="/acerca">Acerca</a>
            </div>
        </div>
    </div>
</nav>