{% extends 'base.html' %}
{%block content%}
<section class="container-fluid py-4">
    <div class="card card-custom-bg my-4">
        <div class = "row row-cols-4 px-3">
            <div class="col-12 py-5">
                <h1>Bienvenido {{ user.get_username }}</h1>
                <p>Mira los suculentos flanes que tenemos para ti, pero... quizas sabes más que nosotros, y tienes una receta que compartir!</p>
                <div><button type="button" class="btn btn-outline-secondary"><a href="/contacto">Contáctanos</a></button></div>
            </div>
        </div>
    </div>
    <div class="card card-custom-bg">
        <div class = "row row-cols-4 px-3">
            <div class="col-12 text-center">
                <h1>Flanes Privados</h1>
                <hr style="width:50%; margin-left:auto; margin-right:auto;">
                <p>Como usuario de nuestra plataforma, tiene acceso a secretos únicos de cocina para usted.</p>
            </div>
            {% for flan in flanes %}
                <div class = "col py-4">
                    <div class = "card border-0 h-100">
                        <img src="{{ flan.image_url }}" class="card-img-top" alt= "{{flan.name}}" id= "{{flan.flan__uuid}}">
                        <div class = "card-header text-center">
                            <h3>{{ flan.name }}</h3>
                        </div>
                        <div class = "card-body">
                            <p>{{ flan.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}